<template>
    <div class="w-100">
        <div class="w-100 py-4">
            <router-link tag="button" to="/admin" class="btn btn-primary p-2 font-1 w-35" style="position:absolute;right:0;">Volver atrás</router-link>
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Modificar Revista</h4>
            </div>
        </div>
        <div class="w-100 p-4">
            <form autocomplete="off" @submit.prevent="ModificarRegistros">
                <div class="row m-0">
                    <div class="col-12 col-md-6">
                        <input id="ModificarRevistaNombre" placeholder="Nombre de la Revista" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.RevistaNombre" required/>
                    </div>
                    <div class="col-12 col-md-6">
                        <input id="ModificarRevistaCategoria" placeholder="Categoria" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.RevistaCategoria" required/>
                    </div>
                    <div class="col-12 col-sm-6 text-center m-auto">
                        <button type="submit" v-on:click="$router.push('/admin/')" class="btn btn-primary w-100 mt-4">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="w-100 py-4">
            <button type="button" v-on:click="$router.push('/admin/'+RevistaID+'/modificar/nuevoarticulo')" class="btn btn-primary p-2 font-1 w-35 mt-2" style="position:absolute;right:0;">Añadir articulo</button>
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Articulos</h4>
            </div>
        </div>
        <div class="w-100">
            <transition name="fade">
                <div id="accordion" v-if="tabla.registros.length>0">
                    <transition-group class="card" tag="div">
                        <div class="w-100" v-for="(registro,index) in tabla.registros" v-bind:key="index">
                            <div class="card-header" :id="'heading'+registro.ArticuloID">
                                <h5 class="mb-0">
                                    <button class="btn btn-link font-1 fs-black fs-15rem collapsed" data-toggle="collapse" :data-target="'#'+registro.ArticuloID" aria-expanded="false" :aria-controls="registro.ArticuloID">
                                        {{registro.ArticuloNombre}}
                                    </button>
                                </h5>
                            </div>
                            <div :id="registro.ArticuloID" class="collapse bg-books2" :aria-labelledby="'heading'+registro.ArticuloID" data-parent="#accordion">
                                <div class="card-body bg-opacity7">
                                    <div class="row w-100 m-0 pt-3">
                                        <div class="col-12 col-sm-6">
                                            <h3 class="font-2 text-left fs-white">{{registro.ArticuloNombre}}</h3>
                                            <h3 class="font-2 text-left fs-white">{{registro.ArticuloAutor1}} {{registro.ArticuloAutor2}} {{registro.ArticuloAutor3}} {{registro.ArticuloAutor4}} {{registro.ArticuloAutor5}} {{registro.ArticuloAutor6}} {{registro.ArticuloAutor7}} {{registro.ArticuloAutor8}}</h3>
                                            <h3 class="font-2 text-left fs-white">Categoria: {{registro.ArticuloCategoria}}</h3>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="row w-100 m-0">
                                                <div class="col-12 col-sm-6">
                                                    <button type="button" v-on:click="$router.push('/admin/'+registro.ArticuloRevistaID+'/modificar/'+registro.ArticuloID+'/modificararticulo/')" class="btn btn-primary w-100">MODIFICAR</button>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <button type="button" v-on:click="$router.push('/admin/'+registro.ArticuloRevistaID+'/modificar/'+registro.ArticuloID+'/eliminararticulo/')" class="btn btn-primary w-100">ELIMINAR</button>
                                                </div>
                                            </div>
                                            <h5 class="font-2 text-justify p-4 fs-white">{{registro.ArticuloContenido}}</h5>
                                        </div>    
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </transition-group>    
                </div>           
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="tabla.cargando==true&&
                tabla.registros.length==0">
                    <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                </div>
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="tabla.cargando==false&&
                tabla.registros.length==0">
                    <h4 class="text-muted font-1 mt-2">No hay articulos disponibles</h4>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>
    export default{
        name:'modificar',
        props:['RevistaID'], 
        data(){
            return{
                formularios:{
                    modificar:{
                        RevistaNombre:'',
                        RevistaCategoria:'',
                    }
                },
                 tabla:{
                    registros:[],
                    cargando:true,
                    ajax:false,
                }
            }
        },
        mounted:function(){
            var self=this;
            document.title="Spa del Alma - Actividad 5 - Agregar";
            $("#ModificarRegistro").modal("show");
            $("#ModificarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin");
                        this.Recargar();
            })
            this.LeerRegistros();
        },
        beforeUpdate:function(){
            this.Recargar();
        },
        methods:{
            Recargar:function(){
                if(this.tabla.ajax==false){
                    document.title="Editor de Revistas | Tu Revista";
                    this.LeerArticulos();
                }
            },
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/leer/"+self.RevistaID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                self.formularios.modificar=response.values[0];
                                $("#ModificarRegistro").modal("show");
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                })
            },
            ModificarRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/modificar/"+self.RevistaID,
                    type:"POST",
                    data:{
                        RevistaNombre:self.formularios.modificar.RevistaNombre,
                        RevistaCategoria:self.formularios.modificar.RevistaCategoria,
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#ModificarRegistro").modal("hide");
                            }else{
                                console.log("ModificarRegistros obtuvo un error: "+response.message);
                                console.log("ModificarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("ModificarRegistros obtuvo un error: "+error);
                            console.log("ModificarRegistros recibió: "+response)
                        }
                    },
                })
            },
            LeerArticulos:function(){
                var self=this;
                $.ajax({
                    url:"/admin/articles/"+self.RevistaID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tabla.ajax=true;
                        self.tabla.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tabla.registros=response.values;
                                self.tabla.cargando=false;
                            }else{
                                console.log("LeerArticulos obtuvo un error: "+response.message);
                                console.log("LeerArticulos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerArticulos obtuvo un error: "+error);
                            console.log("LeerArticulos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            }
        }
    }
</script>