<template>
    <div class="w-100">
        <div class="w-100 py-4">
            <button type="button" v-on:click="$router.push('/admin/'+formularios.modificar.ArticuloRevistaID+'/modificar')" class="btn btn-primary p-2 font-1 w-35" style="position:absolute;right:0;">Volver atrás</button>
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Modificar Articulo</h4>
            </div>
        </div>
        <div class="w-100 p-4">
            <form autocomplete="off" @submit.prevent="ModificarArticulos">
                <div class="row m-0">
                    <div class="col-12 col-md-6">
                        <input placeholder="Nombre del Articulo" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloNombre" required />
                    </div>
                    <div class="col-12 col-md-6">
                        <input placeholder="Categoria" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloCategoria" required />
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 mt-4">
                        <textarea class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" placeholder="Inserte contenido aqui" v-model="formularios.modificar.ArticuloContenido" required></textarea>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 col-sm-6 mt-4">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" style="position:absolute;bottom:0;" v-model="formularios.modificar.ArticuloAutor1" required/>
                    </div>
                    <div class="col-12 col-sm-6 mt-4">
                        <div class="w-100">
                            <h5 class="font-2">¿Desea insertar otro autor?</h5>
                            <select name="authors" onChange="cambiarAutores(this)" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1">
                                <option value="0">No</option>
                                <option value="1">1 autor mas</option>
                                <option value="2">2 autores mas</option>
                                <option value="3">3 autores mas</option>
                                <option value="4">4 autores mas</option>
                                <option value="5">5 autores mas</option>
                                <option value="6">6 autores mas</option>
                                <option value="7">7 autores mas</option>
                                <option value="8">8 autores mas</option>
                            </select>
                        </div>
                    </div>
                    <div id="autor1" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor2" />
                    </div>
                    <div id="autor2" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor3" />
                    </div>
                    <div id="autor3" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor4" />
                    </div>
                    <div id="autor4" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor5" />
                    </div>
                    <div id="autor5" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor6" />
                    </div>
                    <div id="autor6" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor7" />
                    </div>
                    <div id="autor7" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor8" />
                    </div>
                    <div id="autor8" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.ArticuloAutor9"/>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 col-sm-8 col-md-6 m-auto">
                        <button type="submit" v-on:click="$router.push('/admin/'+formularios.modificar.ArticuloRevistaID+'/modificar/')" class="w-100 btn btn-primary p-2 mt-4">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default{
        name:'modificararticulos',
        props:['ArticuloID'], 
        data(){
            return{
                formularios:{
                    modificar:{
                        ArticuloNombre:'',
                        ArticuloCategoria:'',
                        ArticuloContenido:'',
                        ArticuloImagen:'',
                        ArticuloAutor1:'',
                        ArticuloAutor2:'',
                        ArticuloAutor3:'',
                        ArticuloAutor4:'',
                        ArticuloAutor5:'',
                        ArticuloAutor6:'',
                        ArticuloAutor7:'',
                        ArticuloAutor8:'',
                        ArticuloAutor9:'',                    
                    }
                },
                tabla:{
                    registros:[],
                }
            }
        },
        mounted:function(){
            var self=this;
            document.title="Modificar Articulo | TuRevista.com | Admin";
            $("#ModificarRegistro").modal("show");
            $("#ModificarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin");
            })
            this.LeerRegistros();
        },
        methods:{
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/articles2/"+self.ArticuloID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                self.formularios.modificar=response.values[0];
                                self.tabla.registros=response.values[0];
                                $("#ModificarRegistro").modal("show");
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                })
            },
            ModificarArticulos:function(){
                var self=this;
                $.ajax({
                    url:"/admin/modificararticulos/"+self.ArticuloID,
                    type:"POST",
                    data:{
                        ArticuloNombre:self.formularios.modificar.ArticuloNombre,
                        ArticuloCategoria:self.formularios.modificar.ArticuloCategoria,
                        ArticuloContenido:self.formularios.modificar.ArticuloContenido,
                        ArticuloImagen:self.formularios.modificar.ArticuloImagen,
                        ArticuloAutor1:self.formularios.modificar.ArticuloAutor1,
                        ArticuloAutor2:self.formularios.modificar.ArticuloAutor2,
                        ArticuloAutor3:self.formularios.modificar.ArticuloAutor3,
                        ArticuloAutor4:self.formularios.modificar.ArticuloAutor4,
                        ArticuloAutor5:self.formularios.modificar.ArticuloAutor5,
                        ArticuloAutor6:self.formularios.modificar.ArticuloAutor6,
                        ArticuloAutor7:self.formularios.modificar.ArticuloAutor7,
                        ArticuloAutor8:self.formularios.modificar.ArticuloAutor8,
                        ArticuloAutor9:self.formularios.modificar.ArticuloAutor9,
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#ModificarRegistro").modal("hide");
                            }else{
                                console.log("ModificarRegistros obtuvo un error: "+response.message);
                                console.log("ModificarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("ModificarRegistros obtuvo un error: "+error);
                            console.log("ModificarRegistros recibió: "+response)
                        }
                    },
                })
            }
        }
    }
</script>
<!--
<script>
    export default{
        name:'modificar',
        props:['ArticuloID'], 
        data(){
            return{
                formularios:{
                    modificar:{
                        ArticuloNombre:'',
                        ArticuloCategoria:'',
                        ArticuloContenido:'',
                        ArticuloImagen:'',
                        ArticuloAutor1:'',
                        ArticuloAutor2:'',
                        ArticuloAutor3:'',
                        ArticuloAutor4:'',
                        ArticuloAutor5:'',
                        ArticuloAutor6:'',
                        ArticuloAutor7:'',
                        ArticuloAutor8:'',
                        ArticuloAutor9:'',
                    }
                },
            }
        },
        mounted:function(){
            var self=this;
            document.title="Spa del Alma - Actividad 5 - Agregar";
            $("#ModificarRegistro").modal("show");
            $("#ModificarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin");
                        this.Recargar();
            })
            this.LeerRegistros();
        },
        beforeUpdate:function(){
            this.Recargar();
        },
        methods:{
            LeerArticulos:function(){
                var self=this;
                $.ajax({
                    url:"/admin/articles",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tabla.ajax=true;
                        self.tabla.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tabla.registros=response.values;
                                self.tabla.cargando=false;
                            }else{
                                console.log("LeerArticulos obtuvo un error: "+response.message);
                                console.log("LeerArticulos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerArticulos obtuvo un error: "+error);
                            console.log("LeerArticulos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            },
            ModificarRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/modificar/"+self.RevistaID,
                    type:"POST",
                    data:{
                        RevistaNombre:self.formularios.modificar.RevistaNombre,
                        RevistaCategoria:self.formularios.modificar.RevistaCategoria,
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#ModificarRegistro").modal("hide");
                            }else{
                                console.log("ModificarRegistros obtuvo un error: "+response.message);
                                console.log("ModificarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("ModificarRegistros obtuvo un error: "+error);
                            console.log("ModificarRegistros recibió: "+response)
                        }
                    },
                })
            },
--> 