<template>
    <div class="w-100 p-4">
        <form autocomplete="off" @submit.prevent="ModificarUsuarios">
            <h5 class="font-1 fs-20 text-center">Modificar Usuario</h5>
            <div class="row m-0">
                <div class="col-12 py-2">
                    <input type="text" placeholder="Nombre Completo" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.UsuarioNombre" required />
                </div>
                <div class="col-12 col-sm-6 m-auto py-2">
                    <input type="text" placeholder="Usuario" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.UsuarioUser" required />
                </div>
                <div class="col-12 col-sm-6 m-auto py-2">
                    <input type="password" placeholder="Contraseña" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.modificar.UsuarioClave" required />
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-auto py-4">
                    <button type="submit" v-on:click="$router.push('/admin/users/')" class="btn btn-primary w-100">AGREGAR</button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-auto py-4">
                    <router-link tag="button" to="/admin/users" type="button" class="btn btn-info w-100">CANCELAR</router-link>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    export default{
        name:'modificarusuario',
        props:['UsuarioID'], 
        data(){
            return{
                formularios:{
                    modificar:{
                        UsuarioNombre:'',
                        UsuarioUser:'',
                        UsuarioClave:'',
                    }
                },
            }
        },
        mounted:function(){
            var self=this;
            document.title="Spa del Alma - Actividad 5 - Agregar";
            $("#ModificarRegistro").modal("show");
            $("#ModificarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin");
            })
            this.LeerRegistros();
        },
        methods:{
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/leerusuarios/"+self.UsuarioID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                self.formularios.modificar=response.values[0];
                                self.tabla.registros=response.values[0];
                                $("#ModificarRegistro").modal("show");
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                })
            },
            ModificarUsuarios:function(){
                var self=this;
                $.ajax({
                    url:"/admin/modificarusuario/"+self.UsuarioID,
                    type:"POST",
                    data:{
                        UsuarioNombre:self.formularios.modificar.UsuarioNombre,
                        UsuarioUser:self.formularios.modificar.UsuarioUser,
                        UsuarioClave:self.formularios.modificar.UsuarioClave,
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#ModificarRegistro").modal("hide");
                            }else{
                                console.log("ModificarRegistros obtuvo un error: "+response.message);
                                console.log("ModificarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("ModificarRegistros obtuvo un error: "+error);
                            console.log("ModificarRegistros recibió: "+response)
                        }
                    },
                })
            }
        }
    }
</script>
