<template>
    <div class="w-100 pt-4 bg-light d-flex j-center mt-3">
        <div class="w-100">
            <h3 class="font-1 fs-4vw text-center">¿Te gusta nuestro contenido?</h3>
            <h3 class="font-1 fs-3vw text-center mt-1 mb-4">MANTENTE EN CONTACTO CON NOSOTROS</h3>
            <div class="w-100 pb-5">
                <form autocomplete="off" @submit.prevent="AgregarSuscriptor">
                    <div v-if="error" class="alert alert-error w-100">
                                <span v-if="error" >{{error}}</span>
                            </div>
                            <div class="alert alert-success w-100" v-if="response">
                                <span v-if="response">{{response}}</span>
                            </div>
                    <div class="row w-100 m-0">
                        <div class="col-12 col-sm-4 p-2 text-center">
                            <input type="text" placeholder="Nombre" required class="w-80 m-auto bg-none b-0 borderg-b1 p-2" v-model="formularios.agregar.SuscriptorNombre" />
                        </div>
                        <div class="col-12 col-sm-4 p-2 text-center">
                            <input type="email" placeholder="Correo" required class="w-80 m-auto bg-none b-0 borderg-b1 p-2" v-model="formularios.agregar.SuscriptorEmail" />
                        </div>
                        <div class="col-12 col-sm-4 p-2 text-center">
                            <button type="submit" class="w-80 m-auto btn btn-primary p-2">SUSCRIBETE</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mt-2 w-100">
                <div class="bordert-1 w-90 m-auto pt-5" style="border-top:2px solid black">
                    <div class="row m-0 w-100">
                        <div class="col-12 col-sm-6" style="border-right:3px solid black">
                            <h4 class="fs-15 font-2"><i class="far fa-star pr-3"></i>TuRevista.com</h4>
                            <h4 class="fs-15 font-2"><i class="fas fa-map-marker-alt pr-3"></i>Av Principal La Llanada, Carvajal 3101</h4>
                            <h4 class="fs-15 font-2"><i class="fas fa-phone pr-3"></i>+58 412 1717805</h4>
                            <h4 class="fs-15 font-2 mt-5"><i class="far fa-copyright pr-3"></i>Copyright 2018 Todos los Derechos Reservados</h4>
                        </div>
                        <div class="col-12 col-sm-6 pt-3">
                            <div class="row m-0 w-100">
                                <router-link tag="div" to="/revistas" class="cursor col-12 col-md-6 mx-auto col-lg-4 text-center">
                                    <h5 class="font-1 mb-3 text-center fs-15">REVISTAS</h5>
                                </router-link>
                                <router-link tag="div" to="/nosotros" class="cursor col-12 col-md-6 mx-auto col-lg-4 text-center">  
                                    <h5 class="font-1 mb-3 text-center fs-15">NOSOTROS</h5>
                                </router-link>
                                <router-link tag="div" to="/contact" class="cursor col-12 col-md-6 mx-auto col-lg-4 text-center">
                                    <h5 class="font-1 mb-3 text-center fs-15">CONTACTO</h5>
                                </router-link>
                            </div>
                            <h5 class="font-1 text-center fs-15 owner-develop pt-5">Desarrollado por GS</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name:'footer',
    data(){
        return{
            formularios:{
                agregar:{
                    SuscriptorNombre:'',
                    SuscriptorEmail:'',
                }
            },
            error: '',
            response: '',
        }
    },
    mounted:function(){
        var self=this;
        document.title="Añadir Revista | Tu Revista";
        $("#AgregarRegistro").modal("show");
        $("#AgregarRegistro").on('hidden.bs.modal',function(e){
            self.$router.push("/admin");
        })
    },
    methods:{
        AgregarSuscriptor:function(){
            var self=this;
            $.ajax({
                url:"/admin/agregarsuscriptor",
                type:"POST",
                data:{
                    SuscriptorNombre:self.formularios.agregar.SuscriptorNombre,
                    SuscriptorEmail:self.formularios.agregar.SuscriptorEmail,
                },
                async:true,
                timeout:10000,
                success:function(response){
                    try{
                        if(response.status){
                            $("#AgregarRegistro").modal("hide");
                            self.response = "Añadido con éxito";
                            self.error = "";
                        }else{
                            self.error = "Ocurrió un error: El email ya se encuentra registrado";
                            self.response = "";
                            console.log("AgregarRegistros obtuvo un error: "+response.message);
                            console.log("AgregarRegistros recibió: "+response);                            }
                    } catch (error){
                        console.log("AgregarRegistros obtuvo un error: "+error);
                        console.log("AgregarRegistros recibió: "+response)
                    }
                },
            })
        }
    }
}
</script>
<style>
/* MENSAJES DE ERROR */
.alert {
  margin-right:auto;
  margin-left:auto;
  margin-top:1rem;
  margin-bottom:1.5rem;
  padding:12px 24px 12px 30px;
  border-left:4px solid;
  position:relative;
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
  line-height:1.6em;
  z-index:1;
  max-width:80%;
}
.alert-success {
    border-left-color:rgb(2, 109, 2);
    background-color:rgba(89, 153, 89, 0.4);
}
.alert-success:before{
      background-color:rgb(2, 109, 2);
    }
.alert-error{
    border-left-color:#f66;
    background-color:rgba(255,102,101,.2);
    }
    .alert-error:before{
      background-color:#f66;
    }
.alert:before {
    content:"!";
    position:absolute;
    top:14px;
    left:-12px;
    color:#fff;
    width:20px;
    height:20px;
    border-radius:100%;
    text-align:Center;
    line-height:20px;
    font-weight:bold;
    font-size:14px;  
  }


.tip-error{
  margin:auto;
  padding:12px 24px 12px 30px;
  border-left:4px solid #f66;
  position:relative;
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
  line-height:1.6em;
  z-index:1;
  background-color:#f8f8f8;
  max-width:80%;
}

.tip-error:before{
  content:"!";
  background-color:#f66;
  position:absolute;
  top:14px;
  left:-12px;
  color:#fff;
  width:20px;
  height:20px;
  border-radius:100%;
  text-align:Center;
  line-height:20px;
  font-weight:bold;
  font-size:14px;
}
@media screen and (min-width:576px){
    .owner-develop{
        position:absolute;bottom:15px;right:15px;
    }
}
</style>