<template>
    <nav class="w-100 navbar navbar-expand-lg navbar-light bg-navbar-tr">
        <router-link tag="a" to="/inicio" class="navbar-brand titulo-navbar">TuRevista</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <router-link tag="li" to="/revistas" class="nav-item">
                    <a class="nav-link titulo-navbar" href="#">Revistas</a>
                </router-link>
                <router-link tag="li" to="/nosotros" class="nav-item">
                    <a class="nav-link titulo-navbar" href="#">Nosotros</a>
                </router-link>
                <router-link tag="li" to="/contact" class="nav-item">
                    <a class="nav-link titulo-navbar" href="#">Contacto</a>
                </router-link>
            </ul>
                <form @submit.prevent="login" class="form-inline my-2 my-lg-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input v-model="usuario" type="text" class="form-control" placeholder="Correo electrónico" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input  v-model="contrasena" type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Entrar</button>
            </form>
        </div>
    </nav>
</template>
<script>
import firebase from 'firebase';

export default {
  data() {
    return {
      usuario: "",
      contrasena: ""
    };
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.usuario, this.contrasena)
        .then((user) => this.$router.replace('admin'), (error) => console.error(error));
    }
  }
};
</script>
<style>
.bg-navbar-tr{
    background-color:transparent;
    position:absolute;
    top:0;
}
@media screen and (max-width:999px){
    .bg-navbar-tr{
        background-color:#f8f9fa !important;
    }
}
@media screen and (min-width:1000px){
.titulo-navbar{
    color:white !important;
}
}
</style>