<template>
    <div class="container bg-success py-3">
        <div class="row">
            <div class="col-12 text-center">
                <router-link to="/inicio">
                    Error 404 Pagina no Encontrada
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name:'error404',
    mounted: function(){
        document.title="Error 404: Pagina no Encontrada"
    }
}
</script>