<template>
    <div class="w-100 m-0 p-0">
        <div class="w-100 bg-books parallax">
            <div class="d-flex j-center h-100vh w-100 bg-opacity7">
                <div class="w-100 text-center">
                    <h2 class="font-1 fs-8vw fs-white">B I E N V E N I D O</h2>
                    <router-link tag="button" to="/revistas" class="btn btn-primary font-1 p-2 w-35 fs-3vw my-3">CONTINUAR</router-link>
                    <h3 class="font-2 fs-4vw fs-white">Descubre todo el contenido que tenemos para ti</h3>
                </div> 
            </div>
        </div>
        <div class="w-100">
            <header class="w-100 py-4">
                <div class="w-70 first-title borderb-1">
                    <h4 class="font-5 fs-6vw w-80 borderb-1 mb-1 pl-5 pb-2">Últimas Noticias</h4>
                </div>
            </header>
            <div class="row w-100 m-0 pt-3" v-if="tablas.registros.length>0">
                <div class="col-12 col-sm-6 col-md-4 mx-auto py-2 px-3" v-for="(registros,index) in tablas.registros" v-bind:key="index">
                    <div class="border-1 bs-3px w-100 h-100 pr-1 pb-1 pl-1 pt-3">
                        <h5 class="font-1 fs-article-title pb-1 px-2">{{registros.ArticuloNombre}}</h5>
                        <h3 class="font-1 fs-gray fs-article-authors pb-2 px-2">{{registros.ArticuloAutor1}} {{registros.ArticuloAutor2}} {{registros.ArticuloAutor3}} {{registros.ArticuloAutor4}} {{registros.ArticuloAutor5}} {{registros.ArticuloAutor6}} {{registros.ArticuloAutor7}} {{registros.ArticuloAutor8}} {{registros.ArticuloAutor9}}</h3>
                        <h5 class="font-4 fs-article-content text-justify pb-5 px-2">{{registros.ArticuloContenido}}</h5>
                        <h5 v-on:click="$router.push('/revistas/'+registros.ArticuloID+'/verarticulo/')" class="font-3 cursor text-right px-2 read-more">VER MÁS</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100">
            <header class="w-100 py-4">
                <div class="w-70 first-title borderb-1 float-right">
                    <h4 class="font-5 fs-6vw w-80 borderb-1 mb-1 pl-5 pb-2 float-right">Últimos Articulos</h4>
                </div>
            </header>
            <div class="row w-100 m-0 pt-3" v-if="tabla.registros.length>0">
                <div class="col-12 col-sm-6 col-md-4 mx-auto py-2 px-3" v-for="(registro,index) in tabla.registros" v-bind:key="index">
                    <div class="border-1 bs-3px w-100 h-100 pr-1 pb-1 pl-1 pt-3">
                        <h5 class="font-1 fs-article-title pb-1 px-2">{{registro.ArticuloNombre}}</h5>
                        <h3 class="font-1 fs-gray fs-article-authors pb-2 px-2">{{registro.ArticuloAutor1}} {{registro.ArticuloAutor2}} {{registro.ArticuloAutor3}} {{registro.ArticuloAutor4}} {{registro.ArticuloAutor5}} {{registro.ArticuloAutor6}} {{registro.ArticuloAutor7}} {{registro.ArticuloAutor8}} {{registro.ArticuloAutor9}}</h3>
                        <h5 class="font-4 fs-article-content text-justify pb-5 px-2">{{registro.ArticuloContenido}}</h5>
                        <h5 v-on:click="$router.push('/revistas/'+registro.ArticuloID+'/verarticulo/')" class="font-3 cursor text-right px-2 read-more">VER MÁS</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        name:'inicio',
        data(){
            return{
                tabla:{
                    registros:[],
                    cargando:true,
                    ajax:false,
                    idtable:'',
                },
                tablas:{
                    registros:[],
                    ajax:false,
                }
            }
        },
        mounted: function(){
            this.Recargar();
        },
        beforeUpdate:function(){
            this.Recargar();
        },
        methods:{
            Recargar:function(){
                if(this.tabla.ajax==false){
                    document.title="TuRevista.com | Gestor de Contenido UVM Front End 2018C";
                    this.LeerArticulos2();
                    this.LeerArticulos();
                }
            },
            LeerArticulos2:function(){
                var self=this;
                $.ajax({
                    url:"/admin/leernew2/",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tablas.ajax=true;
                        self.tablas.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tablas.registros=response.values;
                            }else{
                                console.log("LeerArticulos obtuvo un error: "+response.message);
                                console.log("LeerArticulos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerArticulos obtuvo un error: "+error);
                            console.log("LeerArticulos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            },
            LeerArticulos:function(){
                var self=this;
                $.ajax({
                    url:"/admin/leernew/",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tabla.ajax=true;
                        self.tabla.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tabla.registros=response.values;
                            }else{
                                console.log("LeerArticulos obtuvo un error: "+response.message);
                                console.log("LeerArticulos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerArticulos obtuvo un error: "+error);
                            console.log("LeerArticulos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            }
        },
    }
    
</script>


<style>
.border-1{border:1px solid gray !important;}
</style>