<template>
    <div class="w-100 m-0"> 
        <div class="w-100 bg-company parallax">
            <div class="d-flex j-center h-100vh w-100 bg-opacity7">
                <header class="w-100">
                    <h2 class="fs-6vw text-center font-1 fs-white">N O S O T R O S</h2>
                    <h2 class="fs-3vw mt-1 text-center font-2 fs-white">20 años de información justa y veráz</h2>
                </header>
            </div>
        </div>
        <div class="mt-2 w-100">
            <div class="row m-0 w-100 py-3">
                <div class="col-12 col-sm-6 d-flex j-center" style="min-height:300px;">
                    <img src="/images/periodistas.jpg" style="max-width:100%;max-height:100%;" />
                </div>
                <div class="col-12 col-sm-6">
                    <h3 class="p-2 font-3 text-justify">Somos un equipo de profesionales ubicados en Venezuela con el talento y la ética suficiente para difundir información de calidad en cualquier instancia. Nuestro compromiso con las comunidades se ha venido incrementando en los ultimos tiempos a traves de nuestros avances alojados en nuestro portal web. Estamos conformados por periodistas expertos y aprendices, que en conjunto realizan un trabajo extremadamente perfecto al momento de redactar articulos para de interés social.</h3>
                </div>
            </div>
        </div>
        <div class="w-100 bg-books parallax">
            <div class="d-flex j-center h-100vh w-100 bg-opacity7">
                <header class="w-100 text-center">
                    <h2 class="fs-6vw text-center font-1 fs-white">¿Mas información?</h2>
                    <router-link tag="button" to="/contact" class="btn btn-primary w-35 mt-3">CONTACTO</router-link>
                </header>
            </div>
        </div>
    </div>
</template>
