<template>
    <body>
        <vNavbar v-if="['admin','adminarticulo','adminrevistas','adminnueva','adminmodificarrevista','adminmodificararticulo','adminnuevo','admineliminarrevista','admineliminararticulo','suscriptores','usuarios','eliminarsuscriptor','nuevousuario','eliminarusuario','modificarusuario'].indexOf($route.name) < 0"></vNavbar>
        <router-view></router-view>
        <vFooter v-if="['admin','adminarticulo','adminrevistas','adminnueva','adminmodificarrevista','adminmodificararticulo','adminnuevo','admineliminarrevista','admineliminararticulo','suscriptores','usuarios','eliminarsuscriptor','nuevousuario','eliminarusuario','modificarusuario'].indexOf($route.name) < 0"></vFooter>
    </body>
</template>
<script>
import vFooter from './templates/components/footer.vue'
import vNavbar from './templates/components/navbar.vue'
export default{
    name:'index',
    components: {
            vFooter,
            vNavbar,
        },
}
</script>