<template>
    <div class="modal fade" id="EliminarRegistro" tabindex="-1" role="dialog" aria-labelledby="ModalTitulo" aria-hidden="true">
        <div class="w-100 p-4">
            <div class="modal-dialog" role="documento">
                <div class="modal-content">
                    <form class="p-4" autocomplete="off" @submit.prevent="EliminarArticulos">
                        <h5 class="font-1 fs-20 text-center">¿Desea eliminar el articulo "<strong>{{registro.ArticuloNombre}}</strong>" ?</h5>
                        <div class="row m-0">
                            <div class="col-12 col-sm-5 m-auto py-4">
                                <button type="submit" class="btn btn-danger w-100">ELIMINAR</button>
                            </div>
                            <div class="col-12 col-sm-5 m-auto py-4">
                                <button type="button" class="btn btn-primary w-100" data-dismiss="modal">CANCELAR</button>    
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        name:'eliminararticuloss',
        props:['ArticuloID'], 
        data(){
            return{
                registro:{
                    ArticuloNombre:'',
                    ArticuloRevistaID:'',
                }
            }
        },
        mounted:function(){
            var self=this;
            document.title="SpaDelAlma - Actividad 5 - Eliminar";
            $("#EliminarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin/"+self.registro.ArticuloRevistaID+"/modificar/");
            })
            this.LeerRegistros();
        },
        methods:{
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/articles2/"+self.ArticuloID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                self.registro=response.values[0];
                                $("#EliminarRegistro").modal("show");
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                })
            },
            EliminarArticulos:function(){
                var self=this;
                $.ajax({
                    url:"/admin/eliminararticulo/"+self.ArticuloID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#EliminarRegistro").modal("hide");
                            }else{
                                console.log("EliminarRegistros obtuvo un error: "+response.message);
                                console.log("EliminarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("EliminarRegistros obtuvo un error: "+error);
                            console.log("EliminarRegistros recibió: "+response)
                        }
                    },
                })
            }
        }
    }
</script>