<template>
    <div class="w-100 mt-5" v-if="tabla.registros.length>0">
        <router-link tag="button" to="/revistas" class="btn btn-primary p-2 font-1 w-35" style="margin-top:1.5rem;position:absolute;right:0;">Volver atrás</router-link>
        <div id="contenido-descargable" class="w-100" v-for="(registro,index) in tabla.registros" v-bind:key="index">
            <div class="w-100 py-4">
                <div class="w-60 first-title borderb-1">
                    <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">{{registro.ArticuloNombre}}</h4>
                </div>
            </div>
            <div class="w-100">
                <div class="row m-0">
                    <div class="col-12 col-sm-6 borderr-1">
                        <h5 class="font-3">Categoria: {{registro.ArticuloCategoria}}</h5>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h5 class="font-3">Autores: {{registro.ArticuloAutor1}} {{registro.ArticuloAutor2}} {{registro.ArticuloAutor3}} {{registro.ArticuloAutor4}} {{registro.ArticuloAutor5}} {{registro.ArticuloAutor6}} {{registro.ArticuloAutor7}} {{registro.ArticuloAutor8}} {{registro.ArticuloAutor9}}</h5>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 mt-3">
                        <h5 class="font-2 text-justify p-4">{{registro.ArticuloContenido}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 w-100 d-flex">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-auto">
                <button class="btn btn-primary w-100" type="button" v-on:click="DescargarPDF">DESCARGAR ARTICULO</button>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        name:'articulo2',
        props:['ArticuloID'], 
        data(){
            return{
                tabla:{
                    registros:[],
                    cargando:true,
                    ajax:false,
                },
            }
        },
        mounted: function(){
            this.Recargar();
        },
        beforeUpdate:function(){
            this.Recargar();
        },
        methods:{
            DescargarPDF:function(){
                var element = document.getElementById('contenido-descargable');
                html2pdf(element);
            },
            Recargar:function(){
                if(this.tabla.ajax==false){
                    document.title="Lector de Articulos | Tu Revista";
                    this.LeerRegistros();
                }
            },
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/leer3/"+self.ArticuloID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tabla.ajax=true;
                        self.tabla.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tabla.registros=response.values;
                                self.tabla.cargando=false;
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            },
        }
    }
</script>