<template>
    <div class="modal fade" id="EliminarRegistro" tabindex="-1" role="dialog" aria-labelledby="ModalTitulo" aria-hidden="true">
        <div class="w-100 p-4">
            <div class="modal-dialog" role="documento">
                <div class="modal-content">
                    <form class="p-4" autocomplete="off" @submit.prevent="BuscarArticulos">
                        <h5 class="font-1 fs-20 text-center">BUSCAR ARTICULOS</h5>
                    <input class="bg-none b-0 borderg-b1 w-100 p-2 mb-2" placeholder="Ingrese autor" v-model="formularios.agregar.BusquedaAutor" />
                <input class="bg-none b-0 borderg-b1 w-100 p-2 mb-4" placeholder="Ingrese categoria" v-model="formularios.agregar.BusquedaCategoria" />                        
                        <div class="row m-0">
                            <div class="col-12 col-sm-5 m-auto py-4">
                                <button type="submit" class="btn btn-primary w-100">BUSCAR</button>
                            </div>
                            <div class="col-12 col-sm-5 m-auto py-4">
                                <button type="button" class="btn btn-danger w-100" data-dismiss="modal">CANCELAR</button>    
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        name:'buscararticulo',
        data(){
            return{
                formularios:{
                    agregar:{
                        BusquedaCategoria:'',
                        BusquedaAutor:'',
                    }
                },
                ValorNull:'NULL',
            }
        },
        mounted:function(){
            var self=this;
            document.title="Buscar Articulos | TuRevista.com";
            $("#EliminarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/revistas/buscar/busqueda");
            })
            this.LeerRegistros();
            $("#EliminarRegistro").modal("show");
            this.LimpiarBusquedas();
        },
        methods:{
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/articles2/"+self.ArticuloID,
                    type:"GET",
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                self.registro=response.values[0];
                                $("#EliminarRegistro").modal("show");
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                })
            },
            BuscarArticulos:function(){
                var self=this;
                if(this.formularios.agregar.BusquedaAutor===""){
                    self.formularios.agregar.BusquedaAutor=self.ValorNull
                }
                if(this.formularios.agregar.BusquedaCategoria===""){
                    self.formularios.agregar.BusquedaCategoria=self.ValorNull
                }
                $.ajax({
                    url:"/admin/buscar1",
                    type:"POST",
                    data:{
                        BusquedaAutor:self.formularios.agregar.BusquedaAutor,
                        BusquedaCategoria:self.formularios.agregar.BusquedaCategoria,
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#EliminarRegistro").modal("hide");
                            }else{
                                console.log("AgregarRegistros obtuvo un error: "+response.message);
                                console.log("AgregarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("AgregarRegistros obtuvo un error: "+error);
                            console.log("AgregarRegistros recibió: "+response)
                        }
                    },
                })
            },
            LimpiarBusquedas:function(){
                var self=this;
                $.ajax({
                    url:"/admin/eliminarbusquedas/",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){

                            }else{
                                console.log("EliminarRegistros obtuvo un error: "+response.message);
                                console.log("EliminarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("EliminarRegistros obtuvo un error: "+error);
                            console.log("EliminarRegistros recibió: "+response)
                        }
                    },
                })
            }
        }
    }
</script>

