<template>
    <div class="w-100 mt-5">
        <div class="w-100 py-4">
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Articulos encontrados</h4>
            </div>
        </div> 
        <div class="w-100">
            <transition name="fade">
                <div class="w-100" v-if="tabla.registros.length>0">
                    <transition-group tag="div" class="row m-0 pt-3">
                        <div class="col-12 col-md-6 mx-auto py-2 px-3" v-for="(registro,index) in tabla.registros" v-bind:key="index">
                            <div class="border-1 w-100 h-100">
                                <div class="row m-0">
                                    <div class="col-12 col-sm-4 col-md-6 m-0 p-0 d-flex">
                                        <div class="img-article w-100 d-flex j-center">
                                            <img src="/images/books.jpg" style="width:100%;height:100%;" class="img-article w-100 h-100"> 
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8 col-md-6">
                                        <h5 class="font-1 fs-article-title pb-1 px-2">{{registro.ArticuloNombre}}</h5>
                                        <h3 class="font-1 fs-gray fs-article-authors pb-2 px-2">{{registro.ArticuloAutor1}}, {{registro.ArticuloAutor2}}, {{registro.ArticuloAutor3}}, {{registro.ArticuloAutor4}}, {{registro.ArticuloAutor5}}, {{registro.ArticuloAutor6}}, {{registro.ArticuloAutor7}}, {{registro.ArticuloAutor8}}</h3>
                                        <h3 class="font-1 fs-gray fs-article-authors pb-2 px-2">Categoria: {{registro.ArticuloCategoria}}</h3>
                                        <h5 class="font-4 fs-article-content text-justify pb-5 px-2">{{registro.ArticuloContenido}} </h5>
                                        <h5 class="font-3 cursor text-right px-2 read-more" v-on:click="$router.push('/revistas/'+registro.ArticuloID+'/verarticulo/')">VER MÁS</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>    
                </div>           
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="tabla.cargando==true&&
                tabla.registros.length==0">
                    <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                </div>
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="tabla.cargando==false&&
                tabla.registros.length==0">
                    <h4 class="text-muted font-1 mt-2">No hay articulos disponibles</h4>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>
    export default{
        name:'busqueda',
        data(){
            return{
                tabla:{
                    registros:[],
                    cargando:true,
                    ajax:false,
                },
            }
        },
        mounted: function(){
            this.Recargar();
        },
        beforeUpdate:function(){
            this.Recargar();
        },
        methods:{
            Recargar:function(){
                if(this.tabla.ajax==false){
                    document.title="Editor de Revistas | Tu Revista";
                    this.LeerRegistros();
                }
            },
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/buscar2",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tabla.ajax=true;
                        self.tabla.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tabla.registros=response.values;
                                self.tabla.cargando=false;
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            },
        }
    }
</script>