<template>
    <div class="w-100 p-4">
        <form autocomplete="off" @submit.prevent="AgregarUsuarios">
            <h5 class="font-1 fs-20 text-center">Nuevo Usuario</h5>
            <div class="row m-0">
                <div class="col-12 py-2">
                    <input type="text" placeholder="Nombre Completo" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="nombre" required/>
                </div>
                <div class="col-12 col-sm-6 m-auto py-2">
                    <input type="email" placeholder="Correo electrónico" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="usuario" required/>
                </div>
                <div class="col-12 col-sm-6 m-auto py-2">
                    <input type="password" placeholder="Contraseña" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="contrasena" required />
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-auto py-4">
                    <button type="submit" v-on:click="$router.push('/admin/users/')" class="btn btn-primary w-100">AGREGAR</button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 m-auto py-4">
                    <button class="btn btn-info w-100">CANCELAR</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    import firebase from 'firebase'
    export default{
        name:'agregarusuario',
        data(){
            return{
                    usuario:'',
                    contrasena:'',
                    nombre:'',
            }
        },
        mounted:function(){
            var self=this;
            document.title="Añadir Revista | Tu Revista";
            $("#AgregarRegistro").modal("show");
            $("#AgregarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin/usuarios");
            })
        },
        methods:{
            AgregarUsuarios:function(){
                firebase.auth().createUserWithEmailAndPassword(this.usuario, this.contrasena);
                var self=this;
                $.ajax({
                    url:"/admin/agregarusuario",
                    type:"POST",
                    data:{
                        UsuarioNombre:self.nombre,
                        UsuarioUser:self.usuario,
                        UsuarioClave:self.contrasena,
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#AgregarRegistro").modal("hide");
                            }else{
                                console.log("AgregarRegistros obtuvo un error: "+response.message);
                                console.log("AgregarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("AgregarRegistros obtuvo un error: "+error);
                            console.log("AgregarRegistros recibió: "+response)
                        }
                    },
                })
            },
    }}
    
</script>