<template>
    <div class="w-100">
        <div class="w-100 py-4">
            <router-link tag="button" to="/admin" class="btn btn-primary p-2 font-1 w-35" style="position:absolute;right:0;">Volver atrás</router-link>
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Nueva Revista</h4>
            </div>
        </div>
        <div class="w-100 p-4">
            <form autocomplete="off" @submit.prevent="AgregarRegistros">
                <div class="row m-0">
                    <div class="col-12 col-md-6">
                        <input placeholder="Nombre de la Revista" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.RevistaNombre" required />
                    </div>
                    <div class="col-12 col-md-6">
                        <input placeholder="Categoria" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.RevistaCategoria" required />
                    </div>
                </div>
                <div class="row m-0 pt-4">
                    <div class="col-12 col-sm-6 col-md-4 m-auto">
                        <button type="submit" v-on:click="$router.push('/admin/')" class="btn btn-primary w-100 mb-5">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default{
        name:'agregar',
        data(){
            return{
                formularios:{
                    agregar:{
                        RevistaNombre:'',
                        RevistaCategoria:'',
                    }
                }
            }
        },
        mounted:function(){
            var self=this;
            document.title="Añadir Revista | Tu Revista";
            $("#AgregarRegistro").modal("show");
            $("#AgregarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin");
            })
        },
        methods:{
            AgregarRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/agregar",
                    type:"POST",
                    data:{
                        RevistaNombre:self.formularios.agregar.RevistaNombre,
                        RevistaCategoria:self.formularios.agregar.RevistaCategoria,
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#AgregarRegistro").modal("hide");
                            }else{
                                console.log("AgregarRegistros obtuvo un error: "+response.message);
                                console.log("AgregarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("AgregarRegistros obtuvo un error: "+error);
                            console.log("AgregarRegistros recibió: "+response)
                        }
                    },
                })
            }
        }
    }
</script>