<template>
    <div class="w-100">
        <div class="w-100 py-4">
            <button v-on:click="$router.push('/admin/'+RevistaID+'/modificar')" class="btn btn-primary p-2 font-1 w-35" style="position:absolute;right:0;">Volver atrás</button>
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Nuevo Articulo</h4>
            </div>
        </div>
        <div class="w-100 p-4">
            <form id="revistarticulo" name="revistarticulo" autocomplete="off" @submit.prevent="AgregarArticulo">
                <div class="row m-0">
                    <div class="col-12 col-md-6">
                        <input placeholder="Nombre del Articulo" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloNombre" required />
                    </div>
                    <div class="col-12 col-md-6">
                        <input placeholder="Categoria" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloCategoria" required />
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 mt-4">
                        <textarea class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" placeholder="Inserte contenido aqui" v-model="formularios.agregar.ArticuloContenido" required></textarea>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 col-sm-6 mt-4">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" style="position:absolute;bottom:0;" v-model="formularios.agregar.ArticuloAutor1" />
                    </div>
                    <div class="col-12 col-sm-6 mt-4">
                        <div class="w-100">
                            <h5 class="font-2">¿Desea insertar otro autor?</h5>
                            <select name="authors" onChange="cambiarAutores(this)" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" >
                                <option value="0">No</option>
                                <option value="1">1 autor mas</option>
                                <option value="2">2 autores mas</option>
                                <option value="3">3 autores mas</option>
                                <option value="4">4 autores mas</option>
                                <option value="5">5 autores mas</option>
                                <option value="6">6 autores mas</option>
                                <option value="7">7 autores mas</option>
                                <option value="8">8 autores mas</option>
                            </select>
                        </div>
                    </div>
                    <div id="autor1" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor2"  />
                    </div>
                    <div id="autor2" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor3" />
                    </div>
                    <div id="autor3" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor4"  />
                    </div>
                    <div id="autor4" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor5" />
                    </div>
                    <div id="autor5" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor6" />
                    </div>
                    <div id="autor6" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor7" />
                    </div>
                    <div id="autor7" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor8" />
                    </div>
                    <div id="autor8" class="col-12 col-sm-6 m-auto pt-3" style="display:none">
                        <input type="text" placeholder="Inserte autor" class="w-100 p-2 font-1 m-auto bg-none b-0 borderg-b1" v-model="formularios.agregar.ArticuloAutor9" />
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 col-sm-8 col-md-6 m-auto">
                        <button type="submit" class="w-100 btn btn-primary p-2 mt-4" v-on:click="$router.push('/admin/'+RevistaID+'/modificar/')">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
export default{
        name:'adminnuevo',
        props:['RevistaID'], 
        data(){
            return{
                formularios:{
                    agregar:{
                        ArticuloNombre:'',
                        ArticuloCategoria:'',
                        ArticuloContenido:'',
                        ArticuloImagen:'',
                        ArticuloAutor1:'',
                        ArticuloAutor2:'',
                        ArticuloAutor3:'',
                        ArticuloAutor4:'',
                        ArticuloAutor5:'',
                        ArticuloAutor6:'',
                        ArticuloAutor7:'',
                        ArticuloAutor8:'',
                        ArticuloAutor9:'',
                    }
                }
            }
        },
        mounted:function(){
            var self=this;
            document.title="Añadir Articulo | Tu Revista";
            $("#AgregarRegistro").modal("show");
            $("#AgregarRegistro").on('hidden.bs.modal',function(e){
                self.$router.push("/admin");
            })
        },
        methods:{
            AgregarArticulo:function(){
                var self=this;
                $.ajax({
                    url:"/admin/agregararticulo",
                    type:"POST",
                    data:{
                        ArticuloNombre:self.formularios.agregar.ArticuloNombre,
                        ArticuloCategoria:self.formularios.agregar.ArticuloCategoria,
                        ArticuloContenido:self.formularios.agregar.ArticuloContenido,
                        ArticuloImagen:self.formularios.agregar.ArticuloImagen,
                        ArticuloAutor1:self.formularios.agregar.ArticuloAutor1,
                        ArticuloAutor2:self.formularios.agregar.ArticuloAutor2,
                        ArticuloAutor3:self.formularios.agregar.ArticuloAutor3,
                        ArticuloAutor4:self.formularios.agregar.ArticuloAutor4,
                        ArticuloAutor5:self.formularios.agregar.ArticuloAutor5,
                        ArticuloAutor6:self.formularios.agregar.ArticuloAutor6,
                        ArticuloAutor7:self.formularios.agregar.ArticuloAutor7,
                        ArticuloAutor8:self.formularios.agregar.ArticuloAutor8,
                        ArticuloAutor9:self.formularios.agregar.ArticuloAutor9,
                        ArticuloRevistaID:this.RevistaID,    
                    },
                    async:true,
                    timeout:10000,
                    success:function(response){
                        try{
                            if(response.status){
                                $("#AgregarRegistro").modal("hide");
                            }else{
                                console.log("AgregarRegistros obtuvo un error: "+response.message);
                                console.log("AgregarRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("AgregarRegistros obtuvo un error: "+error);
                            console.log("AgregarRegistros recibió: "+response)
                        }
                    },
                })
            }
        }
}
</script>

