/* Stylesheet for VUE Project
Name: TuRevista
Description:  - Gestor de Revistas FrontEnd II 2018C
Author: Gerald Alarcón, Angelica Balza, David Gonzalez, José, Benny Hurtado */

body{
    margin:0;
    padding:0;
}

/* FONTS USED */
.font-1{font-family: 'Raleway', sans-serif;}
.font-2{font-family: 'KoHo', sans-serif;}
.font-3{font-family: 'Roboto', sans-serif;}
.font-4{font-family: 'Open Sans Condensed', sans-serif;}
.font-5{font-family: 'Titillium Web', sans-serif;}
.font-6{font-family: 'Indie Flower', cursive;}

.fs-1{font-size:1rem;}
.fs-15{font-size:1.5rem;}
.fs-20{font-size:2rem;}
.fs-25{font-size:2.5rem;}
.fs-30{font-size:3rem;}
.fs-35{font-size:3.5rem;}
.fs-8vw{font-size:8vw;}
.fs-3vw{font-size:3vw;}
.fs-4vw{font-size:4vw;}
.fs-6vw{font-size:6vw;}
 
.fs-gray{color:gray;}
.fs-black{color:black !important;}
.fs-15rem{font-size:1.5rem !important;}
/* JUSTIFY */
.j-center{justify-content: center;align-items: center;}
.cursor{cursor:pointer;}
.bg-none{background:none;}
.bg-white{background:white;}

/* HEIGHT / WIDTH */
.w-35{width:35%;}
.w-29{width:29%;}
.w-60{width:60%;}
.w-70{width:70%;}
.w-80{width:80%;}
.w-90{width:90%;}
.h-45{width:45%;}
.h-50vh{height:50vh;}
.h-100vh{height:100vh;}

/* BORDER */
.borderb-1{border-bottom:2px solid black};
.bordert-1{border-top:2px solid black};
.border-1{border:1px solid gray !important;}
.borderg-b1{border-bottom:1px solid gray !important;}
.b-0{border:0;}
.borderr-1{border-left:1px solid gray !important;}


.img-article{min-height:20px;}

.read-more{
    position:absolute;
    bottom:15px;
    right:20px;
}
.fs-article-authors{
    font-size:1rem;
}
@media screen and (max-width: 550px){
    .fs-article-title{
        font-size:1.5rem;
    }
}
@media screen and (min-width: 768px){
    .fs-article-title{
        font-size:2rem;
    }
    .fs-article-content{
        font-size:1.5rem;
    }
}
/* Customize the label (the container) */
.container2 {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top:0;
  }
  
  /* Hide the browser's default checkbox */
  .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container2:hover input ~ .checkmark1 {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container2 input:checked ~ .checkmark1 {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark1:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container2 .checkmark1:after {
    left: 14px;
    top: 7px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordionturevista {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordionturevista:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.parallax{ 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bs-3px{box-shadow:3px 3px 0px 0px gray;}
  .fs-white{color:white;}
  .bg-opacity7{background-color:rgba(1,1,1,.7)}
  .bg-books{background-image:url('/images/books.jpg');background-repeat:no-repeat;background-size:cover;}
  .bg-books2{background-image:url('/images/books2.jpg');background-repeat:no-repeat;background-size:cover;}
  .bg-company{background-image:url('/images/company.jpg');background-repeat:no-repeat;background-size:cover;}
  .bg-contact{background-image:url('/images/contacto.jpg');background-repeat:no-repeat;background-size:cover;}
