<template>
    <div>
        <vAdminNavbar></vAdminNavbar>
        <router-view></router-view>
    </div>
</template>
<script>
import vAdminNavbar from './components/navbar-admin.vue'
export default{
    name:'admin',
    components: {
            vAdminNavbar,
        },
}
</script>