<template>
    <nav class="w-100 navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TuRevista ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <router-link tag="li" to="/admin" class="nav-item">
                    <a class="nav-link" href="#">Revistas</a>
                </router-link>
                <router-link tag="li" to="/admin/subscribers" class="nav-item">
                    <a class="nav-link" href="#">Suscriptores</a>
                </router-link>
                <router-link tag="li" to="/admin/users" class="nav-item">
                    <a class="nav-link" href="#">Usuarios</a>
                </router-link>
            </ul>
            <button @click="logout" class="btn btn-primary my-2 my-sm-0" type="button">SALIR</button>
        </div>
    </nav>
</template>
<script>
import firebase from 'firebase'

export default {
    name:'navbaradmin',
    methods:{
        logout(){
            firebase.auth().signOut().then(() => this.$router.replace('/')); 
        }
    }
}
</script>

