<template>
    <div class="w-100">
        <div class="w-100 py-4">
            <router-link tag="button" to="/admin/nueva" class="btn btn-primary p-2 font-1 w-35" style="position:absolute;right:0;">AÑADIR REVISTA</router-link>
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Revistas</h4>
            </div>
        </div>
        <div class="w-100">
            <transition name="fade">
                <div id="accordion" v-if="tabla.registros.length>0">
                    <transition-group class="card" tag="div">
                        <div class="w-100" v-for="(registro,index) in tabla.registros" v-bind:key="index">
                            <div class="card-header" :id="'heading'+registro.RevistaID">
                                <h5 class="mb-0">
                                    <button class="btn btn-link font-1 fs-black fs-15rem collapsed" data-toggle="collapse" :data-target="'#'+registro.RevistaID" aria-expanded="false" :aria-controls="registro.RevistaID">
                                        {{registro.RevistaNombre}}
                                    </button>
                                </h5>
                            </div>
                            <div :id="registro.RevistaID" class="collapse bg-books2" :aria-labelledby="'heading'+registro.RevistaID" data-parent="#accordion">
                                <div class="card-body bg-opacity7">
                                    <div class="row w-100 m-0 pt-3">
                                        <div class="col-12 col-sm-6">
                                            <h3 class="font-2 text-left fs-white">{{registro.RevistaNombre}}</h3>
                                            <h3 class="font-2 text-left fs-white">Categoria: {{registro.RevistaCategoria}}</h3>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <div class="row w-100 m-0">
                                                <div class="col-12 col-sm-6"> 
                                                    <button type="button" v-on:click="$router.push('/admin/'+registro.RevistaID+'/modificar/')" class="btn btn-primary w-100">MODIFICAR</button>
                                                </div>
                                                <div class="col-12 col-sm-6">
                                                    <button type="button" v-on:click="$router.push('/admin/'+registro.RevistaID+'/eliminar/')" class="btn btn-primary w-100">ELIMINAR</button>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="row w-100 m-0 pt-3" v-if="tablas.registros.length>0">
                                        <div class="col-12 col-sm-6 col-md-4 mx-auto py-2 px-3" v-if="registro.RevistaID === registros.ArticuloRevistaID" v-for="(registros,index) in tablas.registros" v-bind:key="index">
                                            <div class="border-1 bg-white bs-3px w-100 h-100 pr-1 pb-1 pl-1 pt-3">
                                                <h5 class="font-1 fs-article-title pb-1 px-2">{{registros.ArticuloNombre}}</h5>
                                                <h3 class="font-1 fs-gray fs-article-authors pb-2 px-2">{{registros.ArticuloAutor1}} {{registros.ArticuloAutor2}} {{registros.ArticuloAutor3}} {{registros.ArticuloAutor4}} {{registros.ArticuloAutor5}} {{registros.ArticuloAutor6}} {{registros.ArticuloAutor7}} {{registros.ArticuloAutor8}} {{registros.ArticuloAutor9}}</h3>
                                                <h5 class="font-4 fs-article-content text-justify pb-5 px-2">{{registros.ArticuloContenido}}</h5>
                                                <h5 v-on:click="$router.push('/admin/'+registros.ArticuloID+'/articulo/')" class="font-3 cursor text-right px-2 read-more">VER</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition-group>    
                </div>           
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="tabla.cargando==true&&
                tabla.registros.length==0">
                    <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                </div>
            </transition>
            <transition name="fade">
                <div class="mx-auto text-center m-3" v-if="tabla.cargando==false&&
                tabla.registros.length==0">
                    <h4 class="text-muted font-1 mt-2">No hay revistas disponibles</h4>
                </div>
            </transition>
        </div>
        <router-view>

        </router-view>
    </div>
</template>
<script>
    export default{
        name:'inicio2',
        data(){
            return{
                tabla:{
                    registros:[],
                    cargando:true,
                    ajax:false,
                },
                tablas:{
                    registros:[],
                    ajax:false,
                }
            }
        },
        mounted: function(){
            this.Recargar();
        },
        beforeUpdate:function(){
            this.Recargar();
        },
        methods:{
            Recargar:function(){
                if(this.tabla.ajax==false){
                    document.title="Gestor de Revistas | Tu Revista";
                    this.LeerRegistros();
                    this.LeerArticulos2();
                }
            },
            LeerRegistros:function(){
                var self=this;
                $.ajax({
                    url:"/admin/leer",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tabla.ajax=true;
                        self.tabla.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tabla.registros=response.values;
                                self.tabla.cargando=false;
                            }else{
                                console.log("LeerRegistros obtuvo un error: "+response.message);
                                console.log("LeerRegistros recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerRegistros obtuvo un error: "+error);
                            console.log("LeerRegistros recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            },
            LeerArticulos2:function(){
                var self=this;
                $.ajax({
                    url:"/admin/leer2/",
                    type:"GET",
                    async:true,
                    timeout:10000,
                    beforeSend:function(object){
                        self.tablas.ajax=true;
                        self.tablas.cargando=true;
                    },
                    success:function(response){
                        try{
                            if(response.status){
                                self.tablas.registros=response.values;
                            }else{
                                console.log("LeerArticulos obtuvo un error: "+response.message);
                                console.log("LeerArticulos recibió: "+response);                            }
                        } catch (error){
                            console.log("LeerArticulos obtuvo un error: "+error);
                            console.log("LeerArticulos recibió: "+response)
                        }
                    },
                    complete:function(){
                        setTimeout(function(){
                            self.tabla.ajax=false;
                        },$);
                    }
                })
            },
        }
    }
</script>
