<template>
    <div class="w-100">
        <div class="w-100 py-4">
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Suscriptores</h4>
            </div>
        </div>
        <div class="w-100">
            <transition name="fade">
                <div class="table-responsive" v-if="tabla.registros.length>0">
                    <table class="table table-hover table-bordered m-0">
                        <thead>
                            <tr class="active">
                                    <th style="width:40%;">
                                        Nombre
                                        </th>
                                        <th style="width:40%;">
                                        Correo Electronico
                                        </th>
                                        <th style="width:20%;">
                                        Opciones
                                        </th>
                                   </tr>
                                </thead>
                                <transition-group name="fade" tag="tbody">
                                    <tr v-for="(registro,index) in tabla.registros" v-bind:key="index">
                                        <td style="width:40%;">
                                            {{registro.SuscriptorNombre}}
                                        </td>
                                        <td style="width:40%;">
                                            {{registro.SuscriptorEmail}}
                                        </td>
                                        <td style="width:20%;">
                                            <button type="button" v-on:click="$router.push('/admin/subscribers/'+registro.SuscriptorID+'/eliminar/')" class="btn btn-primary w-100">ELIMINAR</button>
                                        </td>
                                    </tr>
                                </transition-group>
                            </table>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="tabla.cargando==true&&
                        tabla.registros.length==0">
                            <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                        </div>
                    </transition>
                    <transition name="fade">
                        <div class="mx-auto text-center m-3" v-if="tabla.cargando==false&&
                        tabla.registros.length==0">
                            <h4 class="text-muted font-1 mt-2">No hay suscriptores disponibles</h4>                        </div>
                    </transition>
            </div> 
    </div>
</template>
<script>
export default {
        data(){
        return{
            tabla:{
                registros:[],
                cargando:true,
                ajax:false,
            },
        }
    },
    mounted: function(){
        this.Recargar();
    },
    beforeUpdate:function(){
        this.Recargar();
    },
    methods:{
        Recargar:function(){
            if(this.tabla.ajax==false){
                document.title="Gestor de Revistas | Tu Revista";
                this.LeerRegistros();
            }
        },
        LeerRegistros:function(){
            var self=this;
            $.ajax({
                url:"/admin/leersuscriptor/",
                type:"GET",
                async:true,
                timeout:10000,
                beforeSend:function(object){
                    self.tabla.ajax=true;
                    self.tabla.cargando=true;
                },
                success:function(response){
                    try{
                        if(response.status){
                            self.tabla.registros=response.values;
                            self.tabla.cargando=false;
                        }else{
                            console.log("LeerRegistros obtuvo un error: "+response.message);
                            console.log("LeerRegistros recibió: "+response);                            }
                    } catch (error){
                        console.log("LeerRegistros obtuvo un error: "+error);
                        console.log("LeerRegistros recibió: "+response)
                    }
                },
                complete:function(){
                    setTimeout(function(){
                        self.tabla.ajax=false;
                    },$);
                }
            })
        },
    }
    }
</script>
