<template>
    <div class="w-100">
        <div class="w-100 py-4">
            <router-link tag="button" to="/admin/users/nuevousuario" class="btn btn-primary p-2 font-1 w-35" style="position:absolute;right:0;">Crear Usuario</router-link>
            <div class="w-60 first-title borderb-1">
                <h4 class="font-5 fs-4vw w-80 borderb-1 mb-1 pl-5 pb-2">Usuarios</h4>
            </div>
        </div>
        <div class="w-100">
            <transition name="fade">
                <div class="table-responsive" v-if="tabla.registros.length>0">
                    <table class="table table-hover table-bordered m-0">
                        <thead>
                            <tr class="active">
                                <th style="width:30%;">
                                    Nombre Completo
                                    </th>
                                    <th style="width:30%;">
                                    Usuario
                                    </th>
                                    <th style="width:40%;">
                                    Opciones
                                    </th>
                                </tr>
                            </thead>
                            <transition-group name="fade" tag="tbody">
                                <tr v-for="(registro,index) in tabla.registros" v-bind:key="index">
                                    <td style="width:30%;">
                                        {{registro.UsuarioNombre}}
                                    </td>
                                    <td style="width:30%;">
                                        {{registro.UsuarioUser}}
                                    </td>
                                    <td style="width:40%;">
                                        <div class="row m-0 w-100">
                                            <div class="col-12 col-sm-6">
                                                <button type="button" v-on:click="$router.push('/admin/users/'+registro.UsuarioID+'/modificar/')" class="btn btn-primary w-100">MODIFICAR</button>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <button type="button" v-on:click="$router.push('/admin/users/'+registro.UsuarioID+'/eliminar/')" class="btn btn-danger w-100">ELIMINAR</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </transition-group>
                        </table>
                    </div>
                </transition>
                <transition name="fade">
                    <div class="mx-auto text-center m-3" v-if="tabla.cargando==true&&
                    tabla.registros.length==0">
                        <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                    </div>
                </transition>
                <transition name="fade">
                    <div class="mx-auto text-center m-3" v-if="tabla.cargando==false&&
                    tabla.registros.length==0">
                        <h4 class="text-muted font-1 mt-2">No hay usuarios disponibles</h4>
                    </div>
                </transition>
            </div> 
    </div>
</template>
<script>
export default {
        data(){
        return{
            tabla:{
                registros:[],
                cargando:true,
                ajax:false,
            },
        }
    },
    mounted: function(){
        this.Recargar();
    },
    beforeUpdate:function(){
        this.Recargar();
    },
    methods:{
        Recargar:function(){
            if(this.tabla.ajax==false){
                document.title="Gestor de Revistas | Tu Revista";
                this.LeerRegistros();
            }
        },
        LeerRegistros:function(){
            var self=this;
            $.ajax({
                url:"/admin/leerusuarios/",
                type:"GET",
                async:true,
                timeout:10000,
                beforeSend:function(object){
                    self.tabla.ajax=true;
                    self.tabla.cargando=true;
                },
                success:function(response){
                    try{
                        if(response.status){
                            self.tabla.registros=response.values;
                            self.tabla.cargando=false;
                        }else{
                            console.log("LeerRegistros obtuvo un error: "+response.message);
                            console.log("LeerRegistros recibió: "+response);                            }
                    } catch (error){
                        console.log("LeerRegistros obtuvo un error: "+error);
                        console.log("LeerRegistros recibió: "+response)
                    }
                },
                complete:function(){
                    setTimeout(function(){
                        self.tabla.ajax=false;
                    },$);
                }
            })
        },
    }
    }
</script>
