<template>
    <div class="w-100 m-0">
        <div class="w-100 bg-contact parallax">
            <div class="d-flex j-center h-100vh w-100 bg-opacity7">
                <header class="w-100">
                    <h2 class="fs-6vw text-center font-1 fs-white">C O N T A C T O</h2>
                    <h2 class="fs-3vw mt-1 text-center font-2 fs-white">¡Estamos mas cerca de lo que te imaginas!</h2>
                </header>
            </div>
        </div>
        <div class="mt-2 w-100">
            <div class="row m-0 w-100">
                <div class="col-12 col-sm-6 py-2 d-flex j-center">
                    <img src="/img/map.jpg" class="w-100" /> 
                </div>
                <div class="col-12 col-sm-6 d-flex j-center py-2">
                    <div class="w-100">
                        <h3 class="font-1"><i class="fas fa-phone pr-3"></i>+58 412 1717805</h3>
                        <h3 class="font-1"><i class="fas fa-map-marker-alt pr-3"></i>Sede Estovacuy UVM, Carvajal, Trujillo</h3>
                        <h3 class="font-1"><i class="fas fa-envelope pr-3"></i>info@turevista.com</h3>
                    </div>
                </div>
            </div>
            <div class="w-100 p-1">
                <div class="w-100 bg-books2 parallax">
                    <div class="d-flex j-center h-100vh w-100 bg-opacity7">
                        <div class="w-100">
                            <h3 class="font-1 fs-30 text-center fs-white">SUSCRIBETE A NUESTRAS<br>REDES SOCIALES</h3>
                            <div class="row w-100 m-0 pt-4 pb-5">
                                <div class="col-12 col-sm-4 text-center">
                                    <h3 class="font-1 fs-white"><i class="fab fa-facebook pr-3"></i>/TuRevista</h3>
                                </div>
                                <div class="col-12 col-sm-4 text-center">
                                    <h3 class="font-1 fs-white"><i class="fab fa-twitter pr-3"></i>@TuRevista</h3>
                                </div>
                                <div class="col-12 col-sm-4 text-center">
                                    <h3 class="font-1 fs-white"><i class="fab fa-instagram pr-3"></i>@TuRevista</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
